<div class="form-group">

  <% option = rand(0..50) %>
  <input type= "radio" name= "question[correct_option]" id= "question_correct_<%= option %>" value= <%= option %> required>

  <input type= "text" class="form-control" name= "question[options_attributes][<%= option %>][body]"
   id= "question_options_attributes_<%= option %>_body">
  <br>
</div>
