<div class="container">

  <h1> Editing Questions </h1>

  <%= render 'form', Question: @question %>

  <a title="show" href="/questions/<%= @question.id %>"><%=                   image_tag("visibility.svg",:style=>"max-width:20px;min-width:20px") %></a>|

  <a title="back" href="/questions"><%=
  image_tag("back.png",:style=>"max-width:40px;min-width:20px") %></a>
</div>
