<div class="card" style="width: 20rem;">


  <h1 class="card-header"> Editing User </h1>

  <%= render 'form', User: @user %>

  <div class="card-footer">

    <%= link_to 'Show', @user %> |

    <%= link_to 'Back', users_path %>
  </div>
</div>
