<div class="container">
  <h1> Listing Responses </h1>
  <div class="table-responsive-sm">
    <table class="table table-light table-hover table-sm">
      <thead class="thead-dark">
        <tr>
          <th> Exam </th>
          <th> Question </th>
          <th> Response </th>
        </tr>
      </thead>
      <tbody>
        <% @response.each do |r| %>
          <tr>
            <td><%= r.test.paper.name %></td>
            <td><%= r.question.question %></td>
            <td><%= r.option.body %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
