<fieldset>
  <div class="form-row">
    <div class="form-group col-md-12">
        <%= parent_f.radio_button :correct_option_id, f.object.id, onclick: "chk_radio(this)", data: {option_id: f.object_name,question_id: parent_f.object_name} %>

        <%= f.text_field :body  %>
      <%= f.hidden_field :_destroy %>
      <%= link_to "remove", '#', class: "remove_fields" %>
    </div>
  </div>
</fieldset>

<script>
  function chk_radio(e){
    var id = $(e).data("optionId")+"[body]";
    var correct_body = $('[name="' + id + '"]').val();
    var id_q = $(e).data("questionId")+"[correct_option_body]";
    $('[name="' + id_q + '"]').val(correct_body);
  }
</script>
