<div class="container">
  <h3> Editing Paper </h3>

  <%= render 'form', Paper: @paper %>
  </br>
  <a title="show" href="/papers/<%= @paper.id %>"><%=                   image_tag("visibility.svg",:style=>"max-width:30px;min-width:20px") %></a>|

  <a title="back" href="/papers"><%=
  image_tag("back.png",:style=>"max-width:20px;min-width:20px") %></a>
</div>
