<div class="container">
  <p>
    <strong> Name: </strong>
    <%= @paper.name %>
  </p>

  <a title="back" href="/papers"><%=
  image_tag("back.png",:style=>"max-width:40px;min-width:20px") %></a>
</div>
