<div class="container">
  <h1> Listing roles </h1>
  <table class="table table-light table-hover">
    <tr>
      <th> Role </th>
    </tr>

    <% @role.each do |r| %>
      <tr>
        <td><%= r.name %></td>
        <td><%= link_to 'Show', role_path(r) %></td>
        <td><%= link_to 'Destroy', r, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
  <br />
  <%= link_to 'New  role', new_role_path %>
</div>
