<a class="above" title="Thanks!!"><%=
  image_tag("thanks.jpg",:style=>"max-width:100%;min-width:90%") %>
</a>
<p class="bg-primary text-center text-black">
  <b>Our Hr will update you regarding the result.</b>
</p>
