<body>
  <div class= "container" >
    <strong><h1><p class= "text-center"> Welcome!! </p></h1></strong>
    <div class= "jumbotron" >
      <p><b>Rules.</b></p>
      <p>1.Candidates shall bring their photo identification (signed Photo ID) and place it in a conspicuous  place on their desks.</p>
      <p>2.Don't try to switch your browser.</p>
      <p>3.Don't try to peep around.</p>
      <p>4.No materials or electronic devices are allowed during an examination.</p>
      <p>5.Candidates shall not communicate with one another in any manner whatsoever during the  examination.</p>
      <p>6.Candidates who assist or obtain assistance from other candidates or from any unauthorized source are liable to cancellation of their examination.</p>
    </div>
      <%#= form_for @test,:url=>"process_welcome" do |t| %>
      <%= form_with url: tests_process_welcome_path do |f| %>

        Please select your exam
        <%= select_tag("papers",options_for_select(Paper.all.map{ |c| [c.name,c.id]}), class: "btn btn-primary", style: "background-color:white;color:black")%>
        <p class= "text-center">
          <%= f.submit "Start Test",class: "btn btn-success" %>
        </p>
      <% end %>
  </div>
</body>
